
.game-area[data-v-35339130] {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.dealer-side[data-v-35339130] {
  margin-top: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  min-height: 12.4rem;
}
.player-side[data-v-35339130] {
  flex: 1 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.game-hand[data-v-6335d3d0] {
  position: relative;
  transition: all 0.2s ease;
}
.game-hand.is-dealer[data-v-6335d3d0], .game-hand.is-split[data-v-6335d3d0] {
  transform: scale(0.9);
}
.game-hand.is-active[data-v-6335d3d0], .game-hand.is-split.is-active[data-v-6335d3d0] {
  position: absolute;
  max-width: 55%;
  transform: scale(1.3);
  z-index: 100;
}
.game-hand.is-split[data-v-6335d3d0] {
  transition: scale 0s;
}
.game-hand.is-inactive[data-v-6335d3d0] {
  opacity: 0.3;
  transform: translateY(-4rem);
}
.cards[data-v-6335d3d0] {
  min-height: 12.4rem;
  min-width: 8.4rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.deal-enter-active[data-v-6335d3d0], .deal-leave-active[data-v-6335d3d0] {
  transition: translateY 0.3s ease-in-out;
}
.is-split .deal-leave-active[data-v-6335d3d0] {
  transition: translateY 0s;
}
.deal-enter[data-v-6335d3d0], .deal-leave-to[data-v-6335d3d0] {
  transform: translateY(-100vh);
}

.value[data-v-c9bcdd3c] {
  display: inherit;
  height: 3rem;
}

.suit[data-v-4d2e622c] {
  display: inherit;
  height: 3rem;
}

.hand-result[data-v-eb5a084a] {
  position: absolute;
  width: 26rem;
  top: 2rem;
  left: calc(50% - 13rem);
  text-align: center;
}
.hand-result svg[data-v-eb5a084a] {
  width: 26rem;
}
.balloon-enter-active[data-v-eb5a084a] {
  animation: balloon-in-data-v-eb5a084a ease-in-out 0.6s;
  transform-origin: 50% 100%;
}
.balloon-leave-active[data-v-eb5a084a] {
  transition: all 0.1s;
  transform-origin: 50% 100%;
}
.balloon-leave-to[data-v-eb5a084a] {
  transform: scale(0);
  opacity: 0;
}
@keyframes balloon-in-data-v-eb5a084a {
0% {
    transform: scale(0.00) skewX(0deg) rotate(-20deg);
}
40% {
    transform: scale(1.00) skewX(-5deg) rotate(10deg);
}
50% {
    transform: skewX(5deg) rotate(-5deg);
}
60% {
    transform: skewX(-4deg) rotate(3deg);
}
70% {
    transform: skewX(4deg) rotate(-1deg);
}
80% {
    transform: skewX(-3deg) rotate(0deg);
}
85% {
    transform: skewX(3deg);
}
90% {
    transform: skewX(-2deg);
}
95% {
    transform: skewX(2deg);
}
100% {
    transform: skewX(0deg);
}
}

#result-blackjack-moon[data-v-02b38d26] {
  animation: moonrise-data-v-02b38d26 1s ease;
  transform: scale(100%);
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes moonrise-data-v-02b38d26 {
0% {
    transform: scale(0);
}
50% {
    transform: scale(0);
}
100% {
    transform: scale(100%);
}
}

.dollar-sign[data-v-40cbc9aa] {
  animation: turn-data-v-40cbc9aa 2s ease;
  transform-origin: center;
  transform-box: fill-box;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
@keyframes turn-data-v-40cbc9aa {
0% {
    transform: rotateX(0deg);
}
100% {
    transform: rotateX(calc(6 * 360deg));
}
}

.hand-bet[data-v-e2958e7a] {
  position: absolute;
  bottom: -4rem;
  left: 0;
  width: 100%;
  text-align: center;
}
.hand-bet .hand-coin[data-v-e2958e7a] {
  margin: 0.1rem;
  transition: all 0.3s ease-in;
}
.coin-leave-to[data-v-e2958e7a], .is-win .coin-enter[data-v-e2958e7a] {
  transform: translateY(-50vh);
  opacity: 0;
}
.coin-enter[data-v-e2958e7a], .is-win .coin-leave-to[data-v-e2958e7a] {
  transform: translateY(50vh);
  opacity: 0;
}

.game-coin[data-v-386be0f2] {
  width: 3rem;
  height: 3rem;
}

.controls-row[data-v-1426cfc8] {
  text-align: center;
}
.controls[data-v-1426cfc8] {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.game-button[data-v-74b532d3] {
  display: inline-block;
  padding: 0 0.5rem;
  max-width: 8rem;
  height: 6rem;
  border: 0;
  margin: 0 0.5rem;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 2em;
  transition: opacity 0.2s ease;
  box-shadow: 0 0.25rem 0 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.125rem);
  cursor: pointer;
}
.game-button svg[data-v-74b532d3] {
  width: 100%;
  height: 100%;
}
.game-button.is-disabled[data-v-74b532d3] {
  cursor: default;
  opacity: 0.25;
}
.game-button.is-disabled svg[data-v-74b532d3] {
  opacity: 0.5;
}
.game-button[data-v-74b532d3]:not(.is-disabled):not(:active):hover {
  background-color: #fff;
  transform: translateY(-0.25rem);
  box-shadow: 0 0.375rem 0 0 rgba(0, 0, 0, 0.25);
}
.game-button[data-v-74b532d3]:not(.is-disabled):active {
  box-shadow: 0 0 0;
  transform: translateY(0);
}
