$primary-color: #008DC9;
$secondary-color: #1F3C40;
$red: #E35000;
$gold: #e1ae0f;

.fill-primary {
  fill: $primary-color;
}
.fill-secondary {
  fill: $secondary-color;
}
.fill-red {
  fill: $red;
}
.fill-gold {
  fill: $gold;
}
.fill-white {
  fill: #fff;
}
